<section class="calendar-container">

  <button mat-button color="primay" (click)="openModal()">Agregar Evento</button>

  <article class="calendar-content">
    @for (header of headers; track header){
      <span class="calendar-header">{{header}}</span>
    }

    @for (item of calendarData; let calendarIndex = $index; track item) {
      <div class="calendar-body" [ngClass]="[ item.isCurrentMonth ? 'current-month' : '',  item.isCurrentDay ? 'current-day' : '']">
          <span>{{item.data}}</span>
          <section>
            
          </section>
      </div>
  }
</article>
</section>


































